.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-num,
.head-name {
  padding: 1.5rem;
  color: red;
}

.t-body {
  display: flex;
  flex-direction: column;
}

td {
  display: flex;
  margin-left: 3rem;
  color: darkblue;
}

.person {
  display: flex;
}

.delete {
  margin: 1rem;
}

/* table {
  display: flex;
  flex-direction: column;
} 

 tr {
  display: flex;
 }
 */
